[2022-01-31 14:57] JackDallas opened #5 "Add: Log Rotation/Limits"
logs can get very big atm, a max files size and some sort of rotation is needed, I think the logging lib can do that just needs setting up and potentially being make configurable

[2022-01-31 19:12] #5 closed

[2022-02-02 23:18] gtalnz opened #14 "Errors on Windows relating to config file"
Running on Windows 10 Home.

Unzipped release 1.0.1 and ran premiumizearrd.exe. config.yaml was successfully created.
I added my config details and saved the file, then ran premiumizearrd.exe again.
Now the program exits with an "Invalid config file" error.
I am able to make it progress past that error by changing my blackhole and download directories to use single quotes instead of double, but th

[2022-02-03 10:25] JRDevo opened #15 "x509: certificate signed by unknown authority"
Hello,

Firstly thanks for this app, there is a gap in my app stack and if this app works as expected it will be a happy replacement for SABnzbd and premiumizer.

I was trying to build a **docker image** for this app and have had some success but today this keeps popping up:

ERRO[0000] Error getting folders: Get "https://www.premiumize.me/api/folder/list?apikey=111111111111111": x509: certificate

[2022-02-03 12:21] JackDallas commented on #14
Ah I think I know what this issue is, the `\` character is being interpreted as an escape on windows, I think if you use a double backslash in place i.e. `T:\\downloads\\premiumizearr\\in` I think it will fix it.

Let me know if this fixes the issue, I'll have a look and see if I can add a warning or at least update the docs with this if so

[2022-02-03 12:22] JackDallas commented on #15
Ah I've hit this sort of issue before in docker, give me a couple day's and I'll add a dockerfile to the project and publish to githubs docker package host

[2022-02-03 12:23] JackDallas opened #16 "Add Docker support: Tracking docker issues here"
[Wanted here](https://github.com/JackDallas/Premiumizearr/issues/15)

- [x] Add Dockerfile for amd64
- [x] Auto publish releases to github
- [ ] (maybe) Publish releases to docker hub

[2022-02-03 13:33] JRDevo commented on #15
Thanks @JackDallas :)

[2022-02-03 13:38] JRDevo commented on #15
Not sure if you know how to make an image, but these these 2 dockerfiles were handy for me.

https://github.com/linuxserver/docker-sonarr/blob/master/Dockerfile
https://github.com/linuxserver/docker-radarr/blob/master/Dockerfile

If you can replace the .yaml config with ENV variables -users can just create the container with the details rather then update the .yaml

[2022-02-04 09:25] gtalnz commented on #14
Double backslashes in the config file produces the same error but with double the backslashes in the message.

To summarise, here are all the options I've tried and the errors they have produced:

"T:\downloads\premiumizearr\in" = invalid Config File
'T:\downloads\premiumizearr\in' = "Error with initial directory scan open T:\\downloads\\premiumizearr\\in: The system cannot find the path specified

[2022-02-05 22:16] JackDallas commented on #14
Hmm okay let me sort out testing across drives on windows and I'll get back to you !

[2022-02-05 22:45] JackDallas commented on #14
@gtalnz  I'm not sure what's happening here, I can't recreate it, do those folders already exist on the system? Is there a chance they need elevated privileges to be used ?

[2022-02-06 10:11] gtalnz commented on #14
The folders already exist on a network drive mapped to T: in Windows.

I managed to get the blackhole pickup working by using C:\in as the blackhole directory (no quotes). That suggests it's something to do with it being a network drive I guess?

I tried using C:\out as the download directory but no downloading was happening. There was nothing in the logs but on the web client I see the plaintext

[2022-02-06 11:39] JackDallas commented on #14
Ah it seems as a Linux server user I've not tested enough on windows, my bad.

Okay this has already shown up a few bugs to me (like log files not being made on windows) I'll start a patch to fix these, in the mean time would you mind running the exe with '--log trace' after, copy pasting the log to pastebin and sending it here when you have a chance

[2022-02-07 09:02] gtalnz commented on #14
https://pastebin.com/srX5mZdp

Log files actually are being generated, but in an odd location (C:\opt\premiumizearrd), although there is no trace log, just error, general, and info.

[2022-02-11 13:46] JackDallas commented on #16
https://github.com/JackDallas/Premiumizearr/issues/15

[2022-02-11 14:08] JackDallas commented on #15
Hey @JRDevo I've pushed up v1.0.2 and published the first docker container, I've give it a brief test, if you have any issues please comment them on issue https://github.com/JackDallas/Premiumizearr/issues/16

[2022-02-11 14:08] #15 closed

[2022-02-11 14:09] JackDallas commented on #16
Please leave any issues with the initial docker release here

[2022-02-14 09:44] JRDevo commented on #16
I seem to be getting auth & 404 issues:

The URL under the Docker instructions returns a 404
https://github.com/jackdallas/Premiumizearr/pkgs/container/premiumizearr

Running the docker command returns "unauthorized".

sudo docker run ghcr.io/jackdallas/premiumizearr:latest /volumeUSB2/usbshare/config/premiumizearr/config.yaml:/opt/app/config.yaml -v /volume1/Downloads:/downloads -v /volumeUSB2/us

[2022-02-14 21:13] phildapunk commented on #16
Similar to JRDevo, but I have also logged in to ghcr in the terminal session , but receive a Denied response when trying to pull the image

[2022-02-15 23:50] xxcriticxx opened #21 "docker link"
error 404

https://github.com/jackdallas/Premiumizearr/pkgs/container/premiumizearr

[2022-02-17 15:35] JackDallas commented on #16
Hi there, yeah it seems there's been an error somewhere in the upload process for docker, my bad I should have checked on it, I'll endeavour to get this resolved on the weekend, been a bit swamped this week I'm afraid, I'll pot back here when it's looking like it's working :+1:

[2022-02-17 15:36] JackDallas commented on #21
Hi, same issue has been mentioned here https://github.com/JackDallas/Premiumizearr/issues/16 I'm going to try getting docker working this week, subscribe to the other issue for updates :+1:

[2022-02-17 15:36] #21 closed

[2022-04-12 19:03] JackDallas commented on #16
@JRDevo @phildapunk Issue with the docker access should be fixed now, And I'm working on an update with a fixes, sorry for the delay I managed to get COVID and only just got round to updating my github projects

[2022-04-23 10:54] JackDallas opened #27 "Investigate getting .torrent files working"
Currently only .nzb & .magnet are supported

[2022-05-14 20:11] JRDevo commented on #16
Hi Jack,

I had some success with the following:

sudo docker run -d \
  --name=premiumizearr2 \
  -v /volumeUSB2/usbshare/config/premiumizearr/config.yaml:/opt/app/config.yaml \
  -e PUID=1033 \
  -e PGID=100 \
  -e TZ=Europe/Amsterdam \
  -p 8182:8182 \
  -v /volume1/Downloads:/downloads \
  -v /volumeUSB2/usbshare/downloads/blackhole:/blackhole \
  --restart unless-stopped \
  ghcr.io/jackdalla

[2022-05-15 17:33] JRDevo commented on #16
Hi Jack,

I built and image using the dockerfile:

[code]

and seems to have worked using my container script above :)

[2022-05-15 18:25] JRDevo commented on #16
Tested with the latest docker file:

time="2022-05-15T18:24:06Z" level=info msg="Starting directory watcher..."
time="2022-05-15T18:24:06Z" level=error msg="Error getting folders: Get \"https://www.premiumize.me/api/folder/list?apikey=APIKEY\": x509: certificate signed by unknown authority"
time="2022-05-15T18:24:06Z" level=fatal msg="Cannot read folders from premiumize.me, exiting!"

Think it has

[2022-05-15 18:27] JRDevo commented on #16
Also think we need:

EXPOSE 8182

[2022-05-15 18:27] JackDallas commented on #16
No it's my fault I think, I screwed up the tag I think, I'll change to latest and add the expose then re-tag it :+1:

[2022-05-15 18:34] JRDevo commented on #16
Try this? Not sure if RM is included with Ubuntu, prob is :)

[code]

[2022-05-15 18:44] JRDevo commented on #16
Hmmm.. I'm not sure if that's the issue, will try again

[2022-05-15 18:51] JackDallas commented on #16
Looks fixed to me now as of v1.1.3 don't forget to `docker pull ghcr.io/jackdallas/premiumizearr:latest` if you're using the latest tag, let me know if there's any more issues 👍

[2022-05-15 19:03] JRDevo commented on #16
Yup!

Working like a charm :)

time="2022-05-15T19:00:05Z" level=info msg="---------- Starting premiumizearr daemon ----------"
time="2022-05-15T19:00:05Z" level=info
time="2022-05-15T19:00:05Z" level=info msg="Starting directory watcher..."
time="2022-05-15T19:00:05Z" level=info msg="Clearing tmp directory..."
time="2022-05-15T19:00:05Z" level=info msg="Creating Queue..."
time="2022-05-15T19:00:0

[2022-05-15 21:19] JackDallas opened #34 "UI downloads display is broken"
The downloads display on the ui is showing only 1 download and seems to cycle through the downloading files randomly, this doesn't seem to effect the backend and is a ui issue only

[2022-05-15 21:20] JackDallas commented on #16
Okay seems docker is now all good, I'm going to close this and if anyone has any more docker issues feel free to open a new issue

[2022-05-15 21:20] #16 closed

[2022-05-15 21:25] Lloytron opened #35 "Raspberry Pi Support"
Is it possible to add support for Raspberry Pi?

When trying to install I get the following;
Status: Downloaded newer image for ghcr.io/jackdallas/premiumizearr:latest
WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm/v7) and no specific platform was requested
standard_init_linux.go:228: exec user process caused: exec format error

[2022-05-21 19:32] JRDevo opened #36 "Delete downloads that fail"
I have an NZB that has failed due to "too many missing articles", is it possible to remove the failed download(s) from the UI?

In transfers:
*.nzb  |  error  |  0%  |  too many missing articles

Thanks!

[2022-05-24 22:19] rkershenbaum opened #38 "Can't start Docker image"
Here's what I'm seeing:
`richard@Mythtv:/mnt/Media/Premiumizearr$ docker run ghcr.io/jackdallas/premiumizearr:latest /mnt/media/config.yaml:/opt/app/config.yaml \

time="2022-05-24T22:05:48Z" level=info msg="---------- Starting premiumizearr daemon ----------"
time="2022-05-24T22:05:48Z" level=info
panic: Default config created, please fill it out

goroutine 1 [running]:
github.com/jackdallas/prem

[2022-05-24 22:53] JackDallas commented on #35
Hey I just pushed up docker support for armv7 and arm64, change your image to either `ghcr.io/jackdallas/premiumizearr:latest-arm64` or `ghcr.io/jackdallas/premiumizearr:latest-armv7` and let me know if it works for you :+1:

[2022-05-24 22:55] JackDallas commented on #38
Hey, so just to clarify have you filled out the fields in `/mnt/media/config.yaml` that should have generated ?

[2022-05-25 00:30] Lloytron commented on #35
Thank you, I can confirm this worked straight away. Cheers!

[2022-05-25 00:31] Lloytron commented on #38
I had this issue just now. I found that the config.yaml file was being created as a folder and not a file. I think this is a quirk of docker when mapping files that don't exist yet.

So I stopped the containers, deleted file folder and setup the file. Re ran and it found everything.

[2022-05-25 02:04] rkershenbaum commented on #38
For me, the config.yaml was not being created at all, either as a file or a directory.

[2022-05-25 09:27] Lloytron commented on #38
When I did this last night it made a folder called config.yaml, not a file. Apparently this is a known issue with Docker on OSX. Can you check if the same has happened to you?

I had to delete the folder and download the file directly from github and put it in the relevant folder. Might be worth editing it with your settings at this point. So try downloading this and storing it at /mnt/Media/Premi

[2022-05-25 16:44] #35 closed

[2022-05-25 19:14] rkershenbaum commented on #38
Ok, I created the config.yaml file at /mnt/Media/Premiumizearr/:

PremiumizemeAPIKey: [my-api-key]
`Arrs:
- Name: "Sonarr"
  URL: http://localhost:8989
  APIKey: [my-api-key]
  Type: Sonarr
- Name: "Radarr"
  URL: http://localhost:7878
  APIKey: [my-api-key]
  Type: Radarr
BlackholeDirectory: "/blackhole"
DownloadsDirectory: "/downloads"
UnzipDirectory: "/downloads"
bindIP: 192.168.1.78
bindPort:

[2022-05-25 20:10] Lloytron commented on #38
Here is my setup, minus the keys and URLs;

I had that issue too and I can't remember what I did to get around it (I was playing at 3AM :D)

But note that my directories do not have quotation marks

PremiumizemeAPIKey: API-KEY
Arrs:
- Name: Sonarr
  URL: http://URL:8989
  APIKey: API-KEY
  Type: Sonarr
- Name: Radarr
  URL: http://URL:7878
  APIKey: API-KEY
  Type: Radarr
BlackholeDirectory: /down

[2022-05-25 20:28] rkershenbaum commented on #38
Thanks, Lloytron.  I removed the quotes, and configured the file as your is configured, except for the location of the directories.  I'm still getting the same errors.

I think I'm going to give up on this for now, and continue using the Premiumizer program, which works pretty well most of the time.

[2022-05-25 21:17] JackDallas commented on #38
This will only be because of the api key, there could be an issue reading it hmm, I'm going away today but when I'm back next week I'll try testing docker out a bit more fully, I just run it as a systemd service atm so haven't been able to fully test it

[2022-05-26 21:34] JRDevo commented on #36
Will let it run for a few days and get back to you

[2022-05-26 21:53] JRDevo commented on #38
For docker, It may help to somehow get the variables in the .yaml mapped to the dockers environment variables, that way all the config details are passed during the creation of the container.

[code]

Or prob best to add a dialog or window in the UI to edit the config.yaml once the web ui is up. I suspect this may be the most platform agnostic approach :)

[2022-05-27 08:32] rkershenbaum commented on #38
I was able to start the app successfully using by the volume mapping method.

docker run \
--name Premiumizerarr \
-e PUID=1000 \
-e PGID=1000 \
-e TZ=America/Chicago \
-p 8182:8182 \
-v /mnt/Media/downloads:/downloads \
-v /mnt/Media/blackhole:/blackhole \
-v /mnt/Media/Premiumizearr/config.yaml:/opt/app/config.yaml \
ghcr.io/jackdallas/premiumizearr:latest

That said, I agree that the best solut

[2022-06-01 09:44] JackDallas opened #39 "Add config editing to the UI"
As highlighted here https://github.com/JackDallas/Premiumizearr/issues/38 being able to edit the config from the ui is a very desired feature. There are a few ways to go about it though, from a security perspective:

- Implement a user/pass system to be set the first time the ui is opened (Most dev effort)
- Make properties write only so if the ui is exposed api keys can't be scraped (Medium dev e

[2022-06-01 09:45] JackDallas commented on #38
I 100% agree, I'm gonna close this and start a disscussion here about the web ui https://github.com/JackDallas/Premiumizearr/issues/38 I'd appreciate any suggestion ya'll have :)

[2022-06-01 09:45] #38 closed

[2022-06-01 11:48] Lloytron commented on #39
First of all I just wanted to say thanks for this project, its really exactly what I've been looking for for quite a long time now!

One suggestion, is it possible to add download management? I have some downloads that have completed but for some reason the program keeps on trying to redownload them and I can't remove them. I've deleted them and even wiped my whole docker environment but can't get

[2022-06-01 12:54] JackDallas opened #40 "Automatically add and update *arr's download client"
Currently the user has to add the black hole download client to the *arr clients. It'd be much easier to use the clients apis to add them automatically

[2022-06-01 13:20] JackDallas opened #41 "Improve downloads handling"
As mentioned here https://github.com/JackDallas/Premiumizearr/issues/39#issuecomment-1143503322 improvements to download handling will be a nice addition

Current suggestions are:
- Add play/pause ability [ ]
- Make downloads re-orderable [ ]
- Add speed throttling

Feel free to add more suggestions below, I may end up moving downloads to their own page with all these features added so also lookin

[2022-06-01 18:23] JackDallas opened #42 "Update to webpack 5"
Move all webpack deps to the latest version

[2022-06-04 03:13] JackDallas commented on #39
@Lloytron @rkershenbaum I've made an initial pre-release.

Note this does not have authentication at all so needs to be either lan or behind a reverse proxy, I may have broke something along the way but it's working with my setup atm. Open to all kinds of feedback but know I'm no web designer lol. I've re wrote the config implementation so now the app will start up without the config being filled

[2022-06-04 10:54] Lloytron commented on #39
I've updated using the docker image but I dont see any difference?

BTW when I restart it starts downloading previous items that have already downloaded and I have no way to stop them even though the blackhole directory is empty. Is there any way I can delete queued items manually?

[2022-06-04 17:04] JackDallas commented on #39
Sorry do you mean that under the Transfers or Downloads section,? Transfers is just what's happening on premiumize.me. Downloads automatically grabs any files in the `arrDownloads` folder on premiumize.me and then deletes the file from the cloud when it's complete so it's not re-downloaded

[2022-06-04 17:37] JackDallas commented on #39
@Lloytron Can you just not map the config at all now? Now it's all editable in the ui it can just act as a way to store not edit the config in docker. I'll change the README to match not doing that if it works.

Also fyi feel free to just reply back to the thread and not make big edits. that way it keeps a convo flow and I get notifications on gthub.

One config parameter is missing and I have a f

[2022-06-04 19:24] Lloytron commented on #39
@JackDallas If I don't map the config file then the app doesn't start up and gives the following output in the logs;

time="2022-06-04T19:20:00Z" level=info msg="---------- Starting premiumizearr daemon ----------"
time="2022-06-04T19:20:00Z" level=info
time="2022-06-04T19:20:00Z" level=warning msg="No config file found, created default config file"
time="2022-06-04T19:20:00Z" level=warning msg="P

[2022-06-04 19:33] JackDallas commented on #39
Oh crap I know exactly what this is, I'd forgotten, there's a bug, the first time starting up the web server will fail, also I've realised I'm being dumb, we need to be able to mount the config directory to keep it working, I'll sort both those and release rc3 as soon as I can :+1:

[2022-06-04 19:36] JackDallas opened #44 "Update go Version"
The latest go version is out and includes templating features, this will defiantly be useful to use

[2022-06-04 20:53] JackDallas commented on #39
@Lloytron That issue is fixed, I've also set the Dockerfile up to initialise the config with the correct container side directories as shown in the README.

https://github.com/JackDallas/Premiumizearr/releases/tag/v1.2-rc5

Docker has uploaded, up to rc5 now but the latest tag is still being overwritten so you can just use that

Updated README here (let me know if I got anything wrong):
https://gi

[2022-06-05 16:57] Lloytron commented on #39
@JackDallas Unfortunately something seems to have broken here and I can't get it to work at all now.

If I don't mount the data folder and just use the default then I get the following logs;

time="2022-06-05T16:53:06Z" level=info msg="---------- Starting premiumizearr daemon ----------"
time="2022-06-05T16:53:06Z" level=info
time="2022-06-05T16:53:06Z" level=warning msg="No config file found, cre

[2022-06-05 17:01] JackDallas commented on #39
Ohh the unzip directory apparently ending up as / will be deleting the config I bet 🤦‍♀️ I just wrote some code that will prevent that happening accidentally but that shouldn't happen in docker. I'm reworking the config so it's less tempremental rn, I'll see about sorting docker building locally as well so I can rest it better

[2022-06-05 17:05] JRDevo commented on #39
It would be nice to have a test button next to each connection to ensure its working :) Or some simple status indicator.

[2022-06-05 17:42] Lloytron commented on #39
Nice one, look forward to trying it!

BTW I just remembered that the config page is missing the option to add your Premiumize.me API key

[2022-06-05 17:46] Lloytron commented on #41
Another suggestion - add the ability to completely cancel a download

[2022-06-05 20:18] JackDallas commented on #41
Added to the issue ty :+1:

[2022-06-05 21:37] JackDallas commented on #39
Both great points, I added testing the arr clients and fixed the premiumize api key field. At this point everything can be saved on the config page and the settings will update without a restart. Unless anyone finds a bug in the next day or so I'll likely release this as 1.2 :)

Here's the release (also on docker):

https://github.com/JackDallas/Premiumizearr/releases/tag/v1.2-rc8

Let me know how

[2022-06-05 23:15] Lloytron commented on #39
I'm still getting errors if I don't mount the Data folder, or if there's no config.yaml file present when I do, however if the file is present then it works again, thanks :D

This is the log when the file isn't present;

time="2022-06-05T22:55:00Z" level=info msg="---------- Starting premiumizearr daemon ----------"
time="2022-06-05T22:55:00Z" level=info
time="2022-06-05T22:55:00Z" level=warning m

[2022-06-05 23:21] JackDallas commented on #39
Here is perfect :+1:

I think those two issues are the same thing happening, can you post your whole docker run/create command here please

[2022-06-05 23:57] Lloytron commented on #39
I'm using Docker Compose (via Portainer) to manage things. This is what I use in my compose file;

  premiumizearr:
    image: ghcr.io/jackdallas/premiumizearr:latest
    container_name: premiumizearr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /home/pi/Media/Downloads:/downloads
      - /home/pi/Media/config/premiumizearr:/data
    network_mo

[2022-06-06 10:19] JRDevo opened #45 "v1.1.6 issues in docker"
I'm still getting errors if I don't mount the Data folder, or if there's no config.yaml file present when I do, however if the file is present then it works again, thanks :D

This is the log when the file isn't present;

time="2022-06-05T22:55:00Z" level=info msg="---------- Starting premiumizearr daemon ----------"
time="2022-06-05T22:55:00Z" level=info
time="2022-06-05T22:55:00Z" level=warning m

[2022-06-06 10:22] JRDevo commented on #45
Same as @Lloytron, unfortunately I cant get to the web ui and the config.yaml gets reset to default if I map the yaml as a volume and the container restarts.

Mines as follows:

`sudo docker run -d   --name=Premiumizearr   -v /volumeUSB2/usbshare/config/premiumizearr/data:/data   -e PUID=1033   -e PGID=100   -e TZ=Europe/Amsterdam   -p 8182:8182   -v /volume1/Downloads:/downloads   -v /volumeUSB2/

[2022-06-06 10:25] JRDevo commented on #39
Rather raise a new issue then use this one :)

[2022-06-06 10:34] JRDevo commented on #45
Similarly with ghcr.io/jackdallas/premiumizearr:v1.2-rc10

[2022-06-06 11:05] JRDevo commented on #36
@JackDallas Ca

[2022-06-06 11:05] #36 closed

[2022-06-06 11:06] JackDallas commented on #45
Gonna close this just because these issues are added as part of the changes made in https://github.com/JackDallas/Premiumizearr/issues/39. No worries though I get where you where coming from.

[2022-06-06 11:06] #45 closed

[2022-06-06 11:09] JackDallas commented on #39
@JRDevo Best to keep any issues with the 1.2-rc release's here just for my sanity (lol) weird the changes I made in rc10 fixed this for me but maybe I missed something.

Gonna pinch your docker command and test against it later

You mentioned `Similarly with ghcr.io/jackdallas/premiumizearr:v1.2-rc10` can I just confirm you tried the above command with that version instead of latest

[2022-06-06 11:58] Lloytron commented on #39
If I understand correctly the config,yaml file location in the container isn't /opt/app any more but is in the data folder?

[2022-06-06 12:33] JackDallas commented on #39
That's correct

@JRDevo I wouldn't expect the first docker command that maps to `/opt/app/config.yaml` to work any more because of these changes

The second command looks to me like it should work, are you getting the same `panic: Unzip directory is set to system root don't do that it will wipe your system!` error ?

[2022-06-06 12:35] JackDallas commented on #39
@Lloytron

This should work with the latest rc10 I think.

[2022-06-06 12:37] JackDallas commented on #39
I've realised the issue with the config not appearing, until you make a change in the ui and click save nothing is wrote to disk, I have this replicated in docker but weirdly not on bare metal so I'm working on debugging in docker now

[2022-06-06 12:50] JRDevo commented on #39
Weirdly yes, but this time Ive emptied the data folder and seems to be working with:

`sudo docker run -d   --name=Premiumizearr   -v /volumeUSB2/usbshare/config/premiumizearr/data:/data   -e PUID=1033   -e PGID=100   -e TZ=Europe/Amsterdam   -p 8182:8182   -v /volume1/Downloads:/downloads   -v /volumeUSB2/usbshare/downloads/blackhole:/blackhole   --restart unless-stopped   ghcr.io/jackdallas/prem

[2022-06-06 12:53] Lloytron commented on #39
I just tried rc10 and its the same, seems to give the same error now regardless of how the data folder is mapped!

[2022-06-06 13:00] JRDevo commented on #39
Yeah with @Lloytron again here.

It worked once for me, then i deleted the container, image and cleared the folder and ran it again:

`sudo docker run -d   --name=Premiumizearr   -v /volumeUSB2/usbshare/config/premiumizearr/data:/data   -e PUID=1033   -e PGID=100   -e TZ=Europe/Amsterdam   -p 8182:8182   -v /volume1/Downloads:/downloads   -v /volumeUSB2/usbshare/downloads/blackhole:/blackhole   --

[2022-06-06 15:11] JackDallas commented on #39
Okay I think I got it !

rc-11 out now on docker. this works for me if y'all could add ` -e PREMIUMIZEARR_LOG_LEVEL=trace ` to your command if you still get errors and reply back with the log, or just let me know it works I'd appreciate it

[code]

[2022-06-06 16:34] Lloytron commented on #39
I just updated the docker container and it looks good. UI appears and config.yaml file was created on my remote drive with default values.

[2022-06-06 16:49] JackDallas commented on #39
Excellent news, once @Lloytron confirms their setup also works I'll merge this, tag 1.2 and start looking at refactoring the downloads manager and fixing docker overriding latest with rc's 🙄

[2022-06-06 16:52] JRDevo commented on #39
Not sure if this is concerning?

[code]

[2022-06-06 16:59] JRDevo commented on #39
yeah, if I reload the config page then all the settings remain same if I restart the container

[2022-06-06 17:02] JRDevo commented on #39
think deleting the folder in premiumize.me resolved this

[2022-06-06 17:30] JackDallas commented on #39
Now that's odd ... I'm gonna ignore that for the moment if other people report it as an issue I'll have a look at handling it better. I will look at making that error message more clear before the 1.2 release though

[2022-06-07 01:01] JackDallas commented on #39
I've merged in the changes and am tagging v1.2 now. Thanks for all the help @Lloytron & @JRDevo you've made this a lot quicker. I'm gonna get the pre-releases not overriding the docker latest tag next then I'll start work on the downloads manager changes https://github.com/JackDallas/Premiumizearr/issues/41

[2022-06-07 11:25] Lloytron opened #46 "Blackhole folder only scanned on startup"
I've notcied that I can't get anything to successfully queue from my blackhole folder without restarting the container.

I had a few items from my *Arr programs add to the blackhole folder overnight. Premiumizearr was running and I monitored throughout the morning and it never picked them up. What is the update interval supposed to be?

I left it for 4 hours before restarting, at which point they

[2022-06-07 12:28] Lloytron opened #47 "Permission errors"
I am seeing some strange errors in the logs whilst downloading;

time="2022-06-07T11:20:42Z" level=error msg="Cannot delete test.txt file in: %!(EXTRA string=/unzip)"
time="2022-06-07T11:20:42Z" level=error msg="Unzip directory not writeable: /unzip"

In this case I haven't mapped the unzip folder anywhere so it is within the container. However I get the same if it is mapped to my NAS.

Whilst dow

[2022-06-07 14:10] JackDallas commented on #47
That throws me off a bit. ugh annoyingly my whole setup is on a machine with no docker, I'll see if I can get a copy of sonarr and premiumizearr running on my home server in docker. The unzip directory is created in the dockerfile and should not be mounted it's supposed to be temp, I wonder if I'm missing something and need to set perms for it in the dockerfile,

[2022-06-07 14:12] JackDallas commented on #46
We don't poll the blackhole directory we set it to be "watched" and the os tells us when a file changes, I must have screwed that up when I changed the config stuff, I can see this happening on my server too I'll see about getting this fixed asap, thanks for reporting :+1:

[2022-06-07 14:14] Lloytron commented on #47
Its the same if I don't mount the unzip folder and its within the container, it still says the directory is unwriteable

[2022-06-14 23:21] JackDallas commented on #47
I'm gonna close this but if it happens again or in the future anyone ends up hitting this feel free to re-open 👍

[2022-06-14 23:21] #47 closed

[2022-06-14 23:23] JackDallas commented on #46
@Lloytron Can you confirm this is still an issue, I don't actually see this happening, idk why I did before, but I'm not running docker so not sure, gonna test out the docker build tomorrow though to see if that's related

[2022-06-15 09:43] Lloytron commented on #46
Hi, yes, this is still an issue for me, it never picks up anything in the blackhole folder unless I manually restart the container

[2022-06-17 11:56] phiivas opened #50 "Install Premiumizearr without root"
Is there any way to install Premiumizearr without root.  I am subscribed to ultra.cc seedbox, but I do not have root access there and accordingly installation of docker containers is impossible?

[2022-06-17 17:00] JackDallas commented on #50
If you check out the latest releases the file [Premiumizearr_1.2_linux_amd64.tar.gz](https://github.com/JackDallas/Premiumizearr/releases/download/v1.2/Premiumizearr_1.2_linux_amd64.tar.gz) is a binary containing the program with all the needed assets

You should be able to use the [install instructions](https://github.com/JackDallas/Premiumizearr#install) just drop the sudo and change the paths t

[2022-06-18 12:47] JackDallas commented on #46
Okay my bad I didn't have the dockerfile creating the blackhole directory 🤦 I reckon that could screw with the filesystem, could you test this pre-release for me @Lloytron https://github.com/JackDallas/Premiumizearr/releases/tag/v1.2.1-rc1 on the `dev` tag on docker :+1:

[2022-06-18 20:40] Lloytron commented on #46
I updated to the dev tagged version and it doesn't seem to have made any difference i'm afraid.

Should I be mapping the folders individually? or just map one shared folder and use subdirectories?

[2022-06-18 21:38] JackDallas commented on #46
Try not mounting the blackhole, having it mounted makes resuming easier after a restart if you have a long queue but try it, that could explain the issue

Can you run with trace logging on and grab me a log over like 10 mins, add `-e PREMIUMIZEARR_LOG_LEVEL=trace`

[2022-06-19 16:51] Lloytron commented on #46
[_premiumizearr_logs (1).txt](https://github.com/JackDallas/Premiumizearr/files/8935962/_premiumizearr_logs.1.txt)
Here are logs after running for a few minutes (I've run it for a few hours since and it just keeps repeating.

I started with nothing in the blackhole folder and then dropped a file in as it was running and left it a few minutes whilst taking these logs

[2022-06-21 18:36] phiivas commented on #50
Thanks,

I installed and started it successfully.  Everything works perfectly, until I terminate the shell. I will write to the support of ultra with a request to somehow make your app permanently launched.

[2022-06-21 20:49] JackDallas commented on #50
You'll need to use screen or run it as a service using the service file provided

[2022-06-21 21:55] phiivas commented on #50
Ok, thanks

[2022-06-23 02:34] dabonzo opened #51 "Only magnet files? How to make sonarrto provide them ?"
I'm using premiumizearr in a docker container as part of a bigger docker stack including the other arr's (sonarr, readarr, radarr, jackett and others)
Here's the service portion of the stacks premiumizearr's service:
[code]
For example sonarr:
I can select an episode and it saves the torrent file in the correct folder, but in the description it says only magnet files are supported. So nothing happ

[2022-06-24 10:41] JackDallas commented on #50
Hey @phiivas could you follow the instructions here to generate a trace log, set this up and then leave it running ten minutes then send the log file here. Please send the file as an attachment don't copy and paste the log as it will be long, thanks

[2022-06-24 15:24] phiivas commented on #50
So, I tried to generate a trace log with the command:

`user@server:~/.apps/Premiumizearr$ premiumizearrd -e PREMIUMIZEARR_LOG_LEVEL=trace`

the result is this:

[code]

I tried with:

`user@server:~/.apps/Premiumizearr$ premiumizearrd --log trace`

and the result is this:

[code]

I don't see a trace log file generated in the Premiumizearr folder, so it copy/paste everything from shell directly.

[2022-06-25 18:25] dabonzo commented on #51
Thanks a lot Jack, I ticked that option but I'm not sure it did anything, it still saved the files as torrent and ignored them. I will give it another try. Great project by the way.

[2022-06-25 19:21] dabonzo commented on #51
I reinstalled it, checked the paths, ticked the options like you did in the screenshot. Manual downloads with prowlarr work nice as well. Everything works perfect now. Also, black-hole folder from #46  is scanned all the time. Didn't check nzb but I can do that later. If anyone needs help, ping me and I'll share my docker-compose.yml and the folder structure

[2022-06-25 19:21] #51 closed

[2022-06-25 20:43] Lloytron commented on #51
One thing I noticed is that this can depend on the index provider. I use Prowlarr and some of the indexers there just did not return magnet files, whilst others were fine

[2022-06-26 11:41] dabonzo opened #52 "PUID/GUID env variables ignored ? Other *arr services can't handle the folders because they are owned by root."
Docker containers from hotio or linuxsrv have the option to set PUID/GUID env variables so all of them can access mounted folders with unprivileged users.  I've tried that with premiumizearr but it seems those variables are ignored and premiuizearr downloads and saves it's config with root privileges only. Because of that, sonarr for example, can't import or delete imported episodes because it get

[2022-06-26 12:39] Lloytron commented on #52
If this is the case then this would most likely explain some of the issues that I was having too

[2022-06-26 13:31] dabonzo commented on #52
@Lloytron , yes, I saw your issue on #47 and similar issue on #50. I'll try to create a new dockerfile from hotio base and use the solution from #50. Maybe it will work

[2022-06-26 17:04] JackDallas commented on #51
Now that's interesting, I'm glad it's working for you know though :+1:

[2022-06-26 17:04] JackDallas commented on #51
It's a bit hit and miss yeah, Torrent file support is on the roadmap, it's probs not even that difficulty it's just not top of the list rn

[2022-06-26 17:06] JackDallas commented on #52
Ah see I always thought that
[code]
Was doing the file perms setting with the os, I'm happy to take any pull requests with dockerfile changes or even just copy the change from the code myself, I'll have a look at using hotio's base file... I think I'm still a member of their discord actually I'll see if I can get any opinions from there

[2022-06-26 17:43] dabonzo commented on #52
I've tried with hotio for 3 hours and nothing. Linuxserver 30 minutes and everything works, permissions are right, config folder right, downloadfolders work and sonarr correctly removes after import
It's an ugly, dirty hack because after 3 hours with hotio I didn't manage to make it work. Thats why linuxserver radarr README is still displayed.
Anyway look at https://github.com/dabonzo/premiumizear

[2022-06-26 17:48] JackDallas commented on #52
I just exchanged a couple messages with hotio, he's suggested away from using their base image because it's very much subject to change, I think you've got the right idea with that image though @dabonzo I think what we're looking for is an s6-overlay base image I'll take what you have and combine it with that and see if I can get something working and auto-releasing, I'll tag you and @Lloytron whe

[2022-06-26 18:02] dabonzo commented on #52
Sure. For now it works for me. And I'm also watching this repo for changes so I will be notified

[2022-06-26 18:04] dabonzo commented on #52
@Lloytron if you need help getting it going to see if it resolves some of your issues, contact me.

[2022-06-26 21:36] JackDallas commented on #52
@dabonzo @Lloytron If you could test out the latest dev tag and let me know if it works for you

https://github.com/jackdallas/Premiumizearr/pkgs/container/premiumizearr/26693924?tag=v1.2.1-rc4

[2022-06-27 09:59] dabonzo commented on #52
@JackDallas yes, seems to work for me. Does everything it should, blackhole, download, import and cleans the folders. I had to restart one time because it wouldn't show me the premiumize folder on premiumize.me but that could be an issue on my side because I can't reproduce that anymore.

[2022-06-27 12:23] Lloytron commented on #52
Seems to be working for me too although it still  doesn't pick up any files in the blockhole folder automatically, only on the first check (or if I change the folder in settings)

I've been experimenting with Premiumizer too to see how that handled blackhole monitoring and to get that to work I have to enable their alternate method, which I think basically polls for changes at regular intervals. O

[2022-06-30 09:22] dabonzo commented on #52
Since the PUID/GUID problem is resolved with a pre-release build, I think i can close this issue. If @JackDallas  thinks it should be open, please reopen.

[2022-06-30 09:22] #52 closed

[2022-06-30 16:25] JackDallas commented on #46
@Lloytron initial rc of polling https://github.com/JackDallas/Premiumizearr/releases/tag/v1.2.2-rc1
gonna test now on my non-docker setup

[2022-06-30 19:29] Lloytron commented on #46
Ah lol I was wondering if I'd pulled the right version. I've enabled it in config and bingo, when I dropped something in the blackhole it found it after a while and put it into my 'Arr' folder. I saw it enter the queue OK. but now its not shown up in the downloads queue! Even after restarting?

[2022-06-30 19:33] JackDallas commented on #46
Is it in the `arrsDownloads` folder on premiumize.me ? Because we just download whatever is in there

[2022-06-30 19:43] JackDallas commented on #46
I know what's happening lol I changed something to add polling and didn't realise I blocked the transfer manager starting, I'll fix that and release another rc in a minute

[2022-07-04 23:22] #46 closed

[2022-07-04 23:27] JackDallas commented on #50
@phiivas you're using cli you need to put `--log trace`

[2022-07-05 09:56] phiivas commented on #50
I'm sorry, maybe I'm not right or maybe you didn't read the second part of my post, but I used exactly `--log trace`

[2022-07-05 11:12] JackDallas commented on #50
oops my fault didn't read the second part of your post, okay so we don't support .torrent files at the moment, in sonarr/radarr you can edit the download client and tick `Save Magnet Files` to only use magnet files.

If your having issues with the blackhole it's possible you're on some sort of network or virtual drive, the latest release `v1.2.2` now has a manual polling option in the config, try

[2022-08-09 18:56] #50 closed

[2022-08-09 18:57] #34 closed

[2022-08-11 00:14] JackDallas opened #59 "Multiple Sonarr instances breaks failed transfer handling"

[2022-08-12 10:30] #59 closed

[2022-08-14 11:35] dabonzo opened #62 "premiumizearr won't start (since version 1.2.4)"
Since the version 1.2.4, the app won't start anymore. v1.2.1 - v1.2.3 work fine.
The error from the log is
[code]

[2022-08-14 11:38] dabonzo commented on #62
Forgot to mention, it's docker

[2022-08-15 11:02] JackDallas commented on #62
Had a few iffy releases, 1.2.6 seems stable for me, could you confirm this issue is still happening on 1.2.6, if it is I'll whip up a docker setup and have a look at it :+1:

[2022-08-15 19:15] dabonzo commented on #62
1.2.4, 1.2.5 and 1.2.6. Every release has that `exec /init` error.

[2022-08-16 10:37] JackDallas commented on #62
Hey @dabonzo im gonna take a look at this but in currently banned from premiumize.me (one of my test runs spammed them a bit) and trying to resolve it so may be a bit delayed

[2022-08-17 19:32] dabonzo commented on #62
@JackDallas let me know if you need help with that (premiumize.me)

[2022-08-18 00:11] JackDallas commented on #62
@dabonzo haven't had a reply from them yet, going to send another message but will try and get the docker working while I wait for a reply

[2022-08-19 14:28] JackDallas commented on #62
Hey @dabonzo so you know, no word from premiumize.me which does put this project in a bit of a sticky position, can you confirm for me though if you run using the v1.2.3 tag if it still runs ? if it does I'll see if a change I made caused this or if it's something weird upstream I didn't know I was depending on

[2022-08-19 21:17] dabonzo commented on #62
@JackDallas , yes `ghcr.io/jackdallas/premiumizearr:v1.2.3` still working.

[2022-08-19 21:19] dabonzo commented on #62
Didn't pull a new 1.2.3 version though, using the old cached local one that worked all the time anyway.

[2022-08-21 20:02] dabonzo commented on #62
@JackDallas was playing around a little bit and I think the base image doesn't work. I've used the latest alpine `FROM ghcr.io/linuxserver/baseimage-alpine:3.16-cbed9854-ls16` in `Dockerfile.amd64` in the `docker` directory.  Seems it works for me. I also tested  docker image  on a raspberry pi. On the raspi (arm) the latest version worked all the time. So it's very probable the baseimage that cre

[2022-08-22 18:07] dabonzo commented on #62
I would help more but, with a PR, but I can't test it, upload the docker image. I've managed to get the build process going but that's it. I'm no developer so anything more than commit, push, pull is something new I need to learn  to me :D

[2022-08-24 18:38] JackDallas commented on #62
ngl I have it setup a weird way, I need to write a contributors guide to make it more straight forward tbh. atm to build  it you have to do it by installing goreleaser and running `goreleaser --rm-dist --snapshot` a lot of the logic is tied in to that.

I've made an image, it can read and write the config, premiumize's servers are down atm, I'll check again later but in the mean time I've pre-rele

[2022-11-05 15:34] hurfi opened #64 "PUID/GUID is being ignored"
Since the PUID/GUID problem is resolved with a pre-release build, I think i can close this issue. If @JackDallas  thinks it should be open, please reopen.

_Originally posted by @dabonzo in https://github.com/JackDallas/Premiumizearr/issues/52#issuecomment-1170978777_

Has this been pushed to the current docker file?
I'm having the same issue running v1.2.7-rc1 on unraid. Once the download is fini

[2022-11-06 09:24] hurfi opened #65 "Docker container size issue"
There seems to be unmapped paths somewhere here, I've mapped /blackhole, /data & /downloads correctly but the application is writing data to somewhere within the docker image. (can't tell where it is due to not being able to open a shell *another bug?)
I had the docker image blow out to several hundred gig and kill my server.

The only way way to manage it is to limit downloads to a single file at

[2022-11-07 08:47] hurfi commented on #65
##################################################################################
List of containers showing size and virtual size
##################################################################################

First size is the writable layers of the container (Virtual size is writable and read only layers)

236GB (virtual 236GB) Is being taken up by ......... ghcr.io/jackdallas/premiumizear